/* Transact.css */

.body {
  z-index: 0;
}

.styled-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.styled-button {
  padding: 10px;
  background-color: #213547;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styled-card {
  padding: 10px;
  background-color: #213547;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin: 20px auto;
}

.styled-input,
.styled-button {
  display: block;
  width: 50%;
  margin: 20px auto;
}

.styled-button:hover {
  background-color: #45a049;
}

.transact-container {
  width: 50%;
  text-align: center;
}

.tx-table {
  width: 50%;
  text-align: right;
  margin: 0 5rem;
}

.border {
  border: 1px solid white;
  padding: 8px;
}

.loader-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh;
  z-index: 1; /* Takes full viewport height */
}

.app {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #213547;
  z-index: 1000;
  opacity: 0.3;
}
